# Root
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Frontend outputs
webo-app/.next/
webo-app/out/

# Backend outputs
backend-server/dist/
backend-server/build/
backend-server/uploads/
